.product-info h1{font-size: 24px;margin: 0 0 10px 0;text-transform: uppercase;}
.product-info p,.product-info .info{color: #222220;font-size: 15px;float: none;}
.product-info .info {font-size: 14px;}
.product-info .info li{list-style: square;list-style-position: inside;padding: 3px 0;}
.product-info .box-price{margin-top: 5px;padding-top: 5px;}
.product-info .box-price p{margin: 0;font-size: 16px;}
.product-info .price{font-size: 25px;margin: 5px 0;display: inline-block;color: red;}
.product-info .price_new{font-weight: bold;}
.product-info .price_old{font-size: 19px;color: #a09f9f;text-decoration: line-through;margin-left: 10px;}
.product-info .sale_pecent1{display: inline-block;margin-left: 14px;vertical-align: middle;position: relative;padding: 2px; background: #ed2d23;color: #fff;font-size: 13px; border-radius: 3px;font-weight: 500;padding-left: 5px;padding-right: 5px;margin-bottom: 5px;}
.product-info .sale_pecent1:before{content: ''; position: absolute;left: -6px;border-top: 11px solid transparent;border-bottom: 11px solid transparent;border-right: 7px solid #ed2d23;height: 0; width: 0;top: 0;border-radius: 3px}
.title-note{display: inline-block;padding: 2px 5px; color: #fff;line-height: 15px;border-radius: 2px;margin-left: 5px;vertical-align: middle;margin-bottom: 10px;}
.product-info .box-cart{margin-bottom: 10px;}
.product-info .box-cart  i{font-size: 18px;margin-right: 7px;}
.product-info .box-cart button{font-size: 28px;margin-top: 10px;text-transform: uppercase;border-radius: 2px;}
.share-btn {padding: 10px 0;}
.title-info{font-size: 18px;position: relative;margin: 15px 0}
.title-info span{display: inline-block;padding: 5px 10px 5px 0; background: #fff;}
.title-info:before{content: ""; height: 2px; width: 100%;top: 50%;left: 0;position: absolute;background: #ccc;z-index: -1;}
.alert-inf{padding: 6px;margin-top: 5px;background: #f5f5f5;border-radius: 2px; border:1px solid #eee;}
.date_working_block{ background-color: #f6f6f6;padding:0 10px;border: 1px dashed #ccc;}
.date_working_block .title{font-size: 14px; color: #058c3b;padding: 8px 0 5px!important;margin: 0 0 5px!important;}
#buynow{background:rgba(0,0,0,.8);text-align:left;position:fixed;bottom:0;left: 0;z-index:2000;width:100%;padding: 10px;}
#buynow .btn{margin-top: 0;padding: 12px 7px;font-size: 16px;}
.atribute {padding: 0;font-size: 14px;}
.atribute .name{font-weight: bold;font-size: 16px;/*font-family: 'Open Sans', Helvetica, Arial,sans-senif;*/}
.atribute .radio-inline{margin-left: 10px!important;}
.atribute .radio-inline:before{content: "\f10c";font: normal normal normal 16px/1 FontAwesome;margin-right: 5px;position: relative;top: 1px;color:red;}
.atribute .radio-inline.active:before{content: "\f192";}
.atribute .attr-circle .radio-inline{background: #eee;padding: 5px;width: 55px;line-height: 45px;text-align: center;margin-bottom: 10px;} 
.atribute input[type='radio']{margin-top: 8px;opacity: 0;margin-left: -4px;position: absolute;}
.atribute .attr-circle .radio-inline:before{position: absolute!important;left: 0;top: 0;content: ""!important;width: 100%;height: 100%;border: 2px solid #ddd;}
.atribute .attr-circle .radio-inline .i-ck{position: absolute!important;right: 0;bottom: 0;border-bottom: 14px solid #e5101d;border-left: 14px solid transparent;display: none;}
.atribute .attr-circle .radio-inline .i-ck:before{content: "\f00c";color: #fff;font: normal normal normal 7px/1 FontAwesome;position: absolute;right: 1px;top: 6px;}
.atribute .attr-circle .radio-inline:not(.disabled):hover:before,.atribute .attr-circle .radio-inline.active:before{border-color: red;}
.atribute .attr-circle .radio-inline:not(.disabled):hover > .i-ck,.atribute .attr-circle .radio-inline.active > .i-ck{display: block;}
.atribute.attr_images .attr-circle .radio-inline{width: 65px;}
.atribute.attr_images .attr-circle .radio-inline img{width: 100%;}
.atribute .attr-circle .radio-inline.disabled{color:#aaa}
.radio-inline, .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.atribute.size .attr-circle .radio-inline{background: #eee;padding: 2px 7px!important;width: auto;line-height: 35px;text-align: center;font-weight: bold} 
.product-info .box-price {
    margin-top: 5px;
    padding-top: 5px
}

.product-info .box-price p {
    margin: 0;
    font-size: 16px
}

.product-info .price {
    font-size: 25px;
    margin: 5px 0;
    display: inline-block;
    color: red
}

.product-info .price_new {
    font-weight: bold;
    float: none
}

.product-info .price_old {
    float: none;
    font-size: 18px;
    color: #a09f9f;
    text-decoration: line-through;
    margin-left: 15px
}

.product-info .price_sale {
    display: inline-block;
    margin-left: 14px;
    vertical-align: middle;
    position: relative;
    /*padding: 2px;*/
    background: #ed2d23;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px
}

.product-info .price_sale:before {
    content: '';
    position: absolute;
    left: -6px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 7px solid #ed2d23;
    height: 0;
    width: 0;
    top: 0;
    border-radius: 3px
}
.overview ul li{list-style: disc;margin-left: 35px;margin-bottom: 10px;}
.overview ul ul,.overview ol ol,.overview ol ul{margin-top: 10px;}
.overview ul ul li,.overview ol ol li,.overview ol ul li{list-style: circle}
.overview ol li{list-style: decimal;margin-left: 35px;margin-bottom: 10px;}
.product_Readmore:before {
    height: 55px;
    margin-top: -45px;
    content: -webkit-gradient(linear,0% 100%,0% 0%,from(#fff),color-stop(.2,#fff),to(rgba(255,255,255,0)));
    display: block
}
.product_Readmore.active:before{margin-top: -35px;}

.product_Readmore a {
    color: #0388cd;
    display: inline-block;
    background: #e6e5e5;
    padding: 5px 10px;
    border-radius: 3px;
}

.overview h1,.overview h2,.overview h3,.overview h4,.overview h5,.overview h6{font-size: 15px; font-weight: bold;}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.tooltip {
    position: absolute;
    z-index: 99999;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;

    line-break: auto;
}
.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}
.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}
.bs-tooltip-top .arrow::before{
    border-top-color: #058c3b;
}
.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}
.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #058c3b;
    border-radius: 4px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #058c3b;
}
.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
@media only screen and (max-width:980px){
	#goTop {
		background: rgb(255 255 255 / 40%);
	}
}