#cssmenu,#cssmenu ul,#cssmenu li,#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    position: relative;
}

#cssmenu {
    width: 100%
}

#cssmenu>ul>li>a {
    font-size: 16px;
    display: block;
    color: #444;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    border-top: none
}

#cssmenu>ul>li>a>span {
    display: block;
    padding: 18px 5px 18px 15px
}

#cssmenu>ul>li.active {
    border-bottom: none
}

#cssmenu>ul>li.has-sub>a span,#cssmenu>ul>li>ul>li.has-sub>a {
    background: url(../images/icon_plus.gif) 96% center no-repeat;
    font-weight: 700
}

#cssmenu>ul>li.has-sub.active>a span {
    background: url(../images/icon_minus.gif) 96% center no-repeat
}

#cssmenu ul ul {
    display: none
}

#cssmenu ul ul li {
    padding: 0;
    border-bottom: 1px solid #fff;
    border-top: none
}

#cssmenu ul li:last-child>a {
    border-bottom: none
}

#cssmenu ul ul a {
    padding: 15px 10px 15px 30px;
    display: block;
    color: #333;
    font-weight: 400;
    font-size: 16px
}

#cssmenu ul ul a:before {
    content: '\f105';
    color: #444;
    font: normal normal normal 18px/1 FontAwesome;
    margin-right: 7px
}

#cssmenu ul ul ul {
    display: block!important;
    border-top: 1px solid #fff
}

#cssmenu ul ul ul a:before {
    left: 30px
}

#cssmenu ul ul ul li a {
    padding-left: 60px
}

#cssmenu ul ul ul li:last-child {
    border-bottom: none
}

#cssmenu ul ul a:hover,#cssmenu ul ul a:hover:before,#cssmenu>ul>li>a:hover {
    color: #3b9b76
}